body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#causais-container {
    flex-grow: 1;
    display: flex;

}

#data-container {
    width: 30%;
    max-width: 800px;
}

.block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.description-marker {
    cursor: pointer;
    text-decoration: underline;
}

.description-marker svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.description-marker:hover + .description {
    display: inline;
}

.description {
    display: none;
    color: red;
}

.data-container{
    background-color: aqua;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.send-container{
    margin: 0;
    padding: 0;
    justify-content: center;
}

.inputs{
    display: flex;
    justify-content: center;
}



